<nav>
  <h1>Merhaba</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Elasticsearch Türkçe Blog"/>
    {% endif %}
  </a>
  <h2>Ben <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>
      Elasticsearch teknolojileri üzerinde çalışıyorum. 
      <hr>
      <strong>Yaptığım Sunumlar : </strong>
      <ul style="list-style: none;"> 
        <li><a href="http://www.meetup.com/Istanbul-Spark-Meetup/events/231855165/" target="_blank">Istanbul Spark Meetup - Introduction to Elasticsearch</a></li>
        <li><a href="http://www.meetup.com/dataistanbul/events/230809445/" target="_blank">DataIstanbul - Elasticsearch Arama ve Analiz</a></li>
        <li><a href="http://www.meetup.com/dataistanbul/events/230287614/" target="_blank">DataIstanbul - Elasticsearch ve Temel Kavramlar</a></li>
        <li><a href="http://www.meetup.com/Turkey-Elastic-Fantastics/events/232831032/" target="_blank">Elastic Turkey - Elastic Stack Hands-on Workshop</a></li>
      </ul>
      <br>
      Sorularınız için benimle <a href="mailto:haydarkulekci@gmail.com">haydarkulekci@gmail.com</a> adresinden iletişime geçebilirsiniz.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
