<nav>
  <!--<h1>Merhaba</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Elasticsearch Türkçe Blog"/>
    {% endif %}
  </a>
  <h2>Ben <a href="/">{{ site.data.theme.name }}</a>.</h2>-->
  <div id="bio">
    <p>
      Elasticsearch hakkında türkçe çeviriler ve açıklamalı anlatımlar
      <hr>
      <strong>Yaptığım Sunumlar : </strong>
      <ul style="list-style: none;">
        <li><a href="http://devnot.com/2017/elasticsearch-atolyesi-18-martta/" target="_blank">Devnot - Elasticsearch Atölyesi</a></li>
        <li><a href="https://www.meetup.com/Turkey-Elastic-Fantastics/events/238238340/" target="_blank">Elastic Turkey - Visualization of Global Terrorism Data with Elastic Stack</a></li>
        <li><a href="http://www.bmo.org.tr/2017/01/05/elasticsearch-egitimi/" target="_blank">BMO - Elasticsearch Eğitimi</a></li>
        <li><a href="/videos">Diğerleri</a></li>
      </ul>
      <br>
      Sorularınız için <a href="mailto:haydar.kulekci@motivolog.com">haydar.kulekci@motivolog.com</a> adresinden iletişime geçebilirsiniz.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
