<nav>
  <h1>Merhaba</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Elasticsearch Türkçe Blog"/>
    {% endif %}
  </a>
  <h2>Ben <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Elasticsearch teknolojileri üzerinde çalışıyorum. 
    <a href="http://www.meetup.com/dataistanbul/" target="_blank">DataIstanbul</a> ve 
    <a href="http://www.meetup.com/IstanbulPHP/" target="_blank">IstanbuPHP</a> gruplarında sunumlar yapmaya çalışıyorum.
    Sorularınız için benimle <a href="mailto:haydarkulekci@gmail.com">haydarkulekci@gmail.com</a> adresinden iletişime geçebilirsiniz.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
